/* Importing a Google Font */

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,400;0,700;1,200;1,400;1,700&display=swap');

/* Changing the main font and background colour */

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
	font-family: Raleway, sans-serif;
	background-color: #FFF5ED;
  display: grid;
  grid-template-columns: 1fr; 
  grid-template-rows: auto; 
  height: 100vh; 
  margin: 0; 
  padding: 0;
}

section {
  min-height: 225px;
  margin-bottom:50px;
  background-color: #19265B;
}

/* Changing the background colour for the header */

header {
	background-color:  #50A5AF;
}

/* Changing the background color for the navigation bar */

.navbar {
	background-color: #50A5AF;
}

/* Effect on social media buttons */

footer a:hover {
	opacity: .5;
}

/* Corporate navbar */

#navbar-corporate a.active {
	color: #800000;
	font-weight: bold;
}

/* Nav bar styles */

.navbar {
    overflow: hidden;
    background-color: #19265B !important;
    position: fixed; 
    top: 0; 
    width: 100%;
	z-index: 2;
  }

  .navbar a{
    color:white !important;
	z-index: 1;
  }

  .navbar-nav .dropdown-menu{
	z-index: 2;
  }


/* Hero Section shadow */

.white-shadow {
	text-shadow: -.01em -.01em .01em white,
		.02em .02em .02em white,
		0 0 .2em white,
		0 0 .5em white;
}

/* Styles for the video & text */
#video-header {
  position: relative;
  overflow: hidden;
  min-width: 100%;
  min-height: 100%;
}

#myVideo {
  position: static;
  top: 40%;
  left: 40%;
  transform: translate(-30%, -40%);
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
  object-fit:contain;
  overflow: hidden;
}

.video-container{
  position:sticky;
  width:100vw;
  height:100vh;
  overflow:hidden;
}


#overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100vh;
  z-index: 2;
}

  #inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .carousel-container{
    background-color: #19265B;
    z-index: 1;
  }
  h1{
    color: white;
  }
  p{
    color:blanchedalmond;
  }

  
  /* Button Styles */
  .btn-primary{
    background-color: #F1610D;
  }
    #centerButton {
  margin-top: 20px;
  
    }
  
.button-width {
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 50px;
  height: 70%;
}
  
/* Footer */
  
footer {
  overflow:hidden;
  position:fixed;
  bottom: 0;
  width: 100%;
  background-color: #19265B; 
  color: white; 
  padding: 20px 0; 
  text-align: center;
}

.container {
  max-width: 1200px; 
  margin: 0 auto; 
}

#searchgame {
  z-index: 2;
  background-color: #19265B;
  height: 100px;
  margin-top: 300px;
}

  /* Info Section */
  #infosection {
    font-family: 'Courier New', Courier, monospace;
    color: black !important;
    margin-bottom: 700px;
  }
  
  .custom-border {
    border-right: 2px solid #50A5AF; 
  }
  
  .border-between {
    border-bottom: 2px solid #50A5AF; 
    padding-bottom: 20px; 
    margin-bottom: 20px; 
  }
  
  .align-middle p {
    display:flex;
    align-items: center;
    text-align: justify;
  }
  
  .align-middle h2 {
    display:flex;
    align-items: center;
    text-align: center;
    font-weight: bold;
    color:#50A5AF;
  }
  
    .info-picture{
      width:auto;
      height: 200px;
      align-items: center;
    }